<% if current_user && current_user.admin? %>
	<div class="blogAdminLinks">
		<ul class="blogList">
			<li class="blogListFirst"><%= link_to 'New Blog Post', new_blog_post_path %></li>
			<li><%= link_to 'Edit Drafts', drafts_blog_posts_path %></li>
			<li><%= link_to 'All Posts', blog_posts_path %></li>
		</ul>
	</div>
<% end %>